
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
body {
  @apply h-full bg-white;
}

.swiper-button-prev::after {
  display: none !important;
}
.swiper-button-next::after {
  display: none !important;
}



.swiper-button-prev,
.swiper-button-next {
  all: unset;
  display: inline-flex;
  position: static;
}